{% extends "base.html" %}
{% block title %}
Aahho | Payment
{% endblock %}
{% block content %}
  {% if messages %}
    <br>
    {% for message in messages %}
    <div {% if message.tags == 'error' %} class="danger-alert"
        {% elif message.tags == 'success' %} class="success-alert"
        {% endif %}>
      <center>{{ message }}</center>
    </div>
    {% endfor %}
  {% endif %}
  <div class="container">
    <div class="row top-space">
      <div class="card" style="padding: 15px;margin-left: 30px;margin-top: 20px;background-color: #424770;">
        <div>
          <form class="checkout-form" action="/payment/charge?secure_key={{pass_key}}" method="POST">
            {% csrf_token %}
            <label>
              <input name="cardholder-name" class="field is-empty" placeholder="Ankur Mishra" />
              <span><span>Name</span></span>
            </label>
            <label>
              <input name="phone-number" class="field is-empty" type="tel" placeholder="(123) 456-7890" />
              <span><span>Phone number</span></span>
            </label>
            <label>
              <div id="card-element" class="field is-empty"></div>
              <span><span>Credit or debit card</span></span>
            </label>
            <label>
              <input type="checkbox" name="secure_save" style="margin-right:5px;" checked>
              <small> Securely save this card for a faster checkout next time. </small>
              <i class="fa fa-lock pull-right" style="margin:5px;"></i>
            </label>
            <button class="checkout_button" type="submit">Checkout</button>
            <div class="outcome">
              <div class="error" role="alert"></div>
              <div class="success">
                Success! Your Stripe token is <span class="token"></span>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="card" style="width:45%; padding: 15px;margin-left: 30px;margin-top: 20px;">
        {% if data.cards|length > 0 %}
          <table class="table">
            <thead class="thead-inverse">
              <tr>
                <th> Card No </th>
                <th> Valid Till </th>
                <th> Select </th>
              </tr>
            </thead>
            {% for card in data.cards %}
              <tbody>
                <td> **** **** **** {{card.digits}} </td>
                <td> {{card.exp_month}}/{{card.exp_year}} </td>
                <td>
                  <form action="/payment/charge?secure_key={{pass_key}}&is_fromsaved=True" method="POST">
                    <button class="pay_button">pay</button>
                    <input type="hidden" name="id" value="{{card.id}}">
                    <input type="hidden" name="email" value="{{card.email}}">
                  </form>
                </td>
              </tbody>
            {% endfor %}
          </table>
        {% else %}
          <p style="color: red;text-align: center;font-weight: 900;margin-top: 180px;"> No Saved Card Found! </p>
        {% endif %}
      </div>
    </div>
</div>
{% endblock %}